@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Permanent+Marker&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.backBlack {
  background-color: #000000;
}

#banner h3 {
  font-size: 2em;
  font-family: 'Permanent Marker', cursive;
  color: rgb(93, 203, 153);
}

#banner p {
  font-size: 1.2em;
  color: rgb(207, 224, 217);
}

#code {
  width: 100%;
}

#code h3 {
  font-size: 1.5em;
  color: rgb(93, 203, 153);
}

#code h4 {
  font-size: 3em;
  color: rgb(207, 224, 217);
}
