@tailwind base;
@tailwind components;
@tailwind utilities;


.cardImg {
  background-color: #000000;
  margin: 20px 20px 20px 20px;
}

#cuerpoAlerta {
  width: 100%;
}

#cuerpoAlerta h5 {
  color: rgba(167, 243, 208, 167);
}
